<ion-view view-title="Intro">

    <ion-content class="intro" scroll="false">

        <div class="row header">

        </div>

        <div class="row footer">
            <div class="col col-bottom">
                <div class="row">
                    <div class="col text-center">
                        <p>I am feeling like</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <button ng-click="continue(true)" class="button button-block btn-enter chat">
                            Chatting
                        </button>
                    </div>
                    <div class="col text-center">
                        <button ng-click="continue(false)" class="button button-block btn-enter dnd">
                            Chilling
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
