<ion-view view-title="Overview">
    <ion-content class="padding">

        <div class="text-center">
            Train carriage #6
        </div>

        <div class="row" ng-repeat="row in seats">
            <div class="col-25" ng-repeat="seat in row">
                <div class="seat text-center"
                     ng-class="{
                        'seat-free': seat.free && !seat.user,
                        'seat-noapp': !seat.free && !seat.user,
                        'seat-chat': !seat.free && seat.user === 'chat',
                        'seat-dnd': !seat.free && seat.user === 'dnd'
                     }">
                    <span class="id">{{seat.id}}</span>
                    <span class="name">{{seat.username}}</span>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
